body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    
}
header {
    display: grid;
    grid-template-columns: 0.16fr 0.11fr;
    justify-content: right;
    margin-top: 0.8rem;
}

.header-p {
    text-align: center;
    font-family: sans-serif;
}
.header-p a{
        font-size: 0.7rem;
}

.sign-in button{
    height: 2.2rem;
    width: 6.5rem;
    background-color: #0055ff;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.fa-lock {
    position: relative;
    right: 1rem;
    color: #ffffff;
}

main {
    width: 25%;
    margin: 0 auto;
}

.intuit-logo{
  margin-top: 2rem;
  text-align: center;  
}
.main ul{
    list-style: none; 
}
.main ul li{
    display: inline-block;
}
.main ul li img{
    margin-bottom: -0.7rem;
    border-radius: 55%;
}
fieldset {
    background-color: #ffffff;
    /* text-align: center; */
}
.fieldset h2{
    text-align: center;
    color: #606060;
    font-family: sans-serif;

}
.fieldset input{
    width: 20rem;
    height: 2rem;
    margin-bottom: 3rem;
    position: relative;
    bottom: 3rem;
}

.fieldset p{
    text-align: center;
}

.fieldset p a{
    text-align: center;
    position: relative;
    bottom: 3rem;
    text-decoration: none;
}
.fieldset label {
    position: relative;
    bottom: 3.5rem;
}

.fieldset input[id="comf-password"] {
    display: none;
}

.fieldset label[for="comf-password"]{
    display: none;
}

#call {
    position: relative;
    bottom: 6rem;
}






